.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.left-scetion{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  
}
.left-scetion .logo{
  height: 40px;
  margin: 0px;
  width: 40px;
  margin-right: -17px;
}
.brand-name{
  font-size: 18px;
  font-family: verdana;
  font-weight: bold;
  color: brown;
  margin: 0px;
  padding: 20px;
 
}
.right-section{
  display: flex;
  align-items: center;
  
  margin-right: 40px;
  
}
.ref-tags{
  
  margin-right: 580px;
  
}
.form a button{
  cursor: pointer;
  border: 2px solid mediumseagreen;
  height: 40px;
  width: 80px;
  border-radius: 9px;
  font-size: 14px;
}
.navi1,.navi2,.navi3{
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 200;
  color: rgb(53, 53, 53);
}
.navi2,.navi3{
  position: relative;
  left: 90%;
}
.navi3{
  left: 150%;
  position: relative;
}
.signin-btn{
  background-color: mediumseagreen;
  color: white;
}
.services-container{
  z-index: 100;
  position: relative;
  left: 1482%; 
  top: 150%;  
}
@media (max-width:100%) {
  .header-container{
    width: 380px;
    
  }
  .left-scetion{
    scale: 0.6;
    position: relative;
    right: 25;
    margin-left: 0;
  }
  .right-section{
    width: 200px;
    margin: 0;
    
  }
  .ref-tags{
    margin: 0;
  }
  .navi1{
    position: relative;
    right: 60;
    top: 19;
  }
  .navi2{
    
    position: relative;
    right: 500;
    left: 0;
    margin: 0;
  }
  .navi3{
    
    position: relative;
    bottom: 18;
    left: 100;
    margin-right: 0;
  }
  .form{
    opacity: 0;
  }
  body{
    padding: 0;
    
  }
  @media (min-width:768px) {
    .header-container{
      width: 768px;
      background-color: brown;
      
    }
    .left-scetion{
      scale: 0.6;
      position: relative;
      right: 25;
      margin-left: 0;
      background-color: white;
    }
    .right-section{
      width: 540px;
      margin: 0;
      background-color: gray;
      position:;
    }
    .navi1{
      position: relative;
      right: 60;
      top: 19;
    }
    .navi2{
      
      position: relative;
      right: 500;
      left: 0;
      margin: 0;
    }
    .navi3{
      
      position: relative;
      bottom: 18;
      left: 100;
      margin-right: 0;
    }
    .form{
      opacity: 0;
    }
    body{
      padding: 0;
      
    } 
  }
}
