.logo{
  margin-left: 50px;
  margin-top: 80px;
  scale: 1.5;
}
.container{
  display:flex;
  padding-left: 90px;
  margin-top: 50px;
}
p{
  margin-top: 65px;
  font-family: fantasy;
  margin-left: 26px;
  font-size: 50px;
  color: rgb(23, 73, 79);
}
.img-2-container{
  display: flex;
}
#img-1{
margin-left: 200px;
mix-blend-mode: darken;
}
#btn{
  position: relative;
  height: 80px;
  width: 350px;
  margin-top: 200px;
  margin-left: 190px;
  font-size: 30px;
  z-index: 1;
  transition: all 0.5s;
  border: 0px solid skyblue;
  border-radius: 15px;
  color: indigo;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background-image: linear-gradient(
    to right,
    hsl(211, 85%, 59%),
    hsl(179, 100%, 30%)
  );
  z-index: 1;
 
}
#btn::before{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to left,
    hsl(211, 100%, 50%),
    hsl(179, 100%, 42%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 15px;
}
.container-2{
  display: flex;
}
#btn:active{
  scale: 0.9;
}
#btn:hover::before{
  opacity: 1;
  
}
a{
  height: 0px;
}
body{
  background-image: linear-gradient(to bottom right,#83A4D4,#B6FBFF);
}