body{
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1000px;
}
.con{
  margin-top: 200px;
  height: 300px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
input{
height: 50px;
width: 800px;
background-color: rgba(255,255,255,0);
backdrop-filter: blur(5px);
border: 2px dotted rgba(255, 255, 255, 0.695);
border-radius: 10px;
border-right:transparent;
border-bottom: transparent;
top: 20px;
left: 20px;
padding: 20px;
padding-bottom: 21px;
font-size: 20px;
transition: all 0.5s;
}
input::placeholder{
  color: rgb(17, 57, 78);
  font-size: 17px;
  font-family: verdana;
  font-weight: 100;
  
}
input:hover{
  box-shadow: 0px 0px 50px 0px rgba(47, 86, 136, 0.647)
}
#btn-chek{
  margin-left:-20px ;
  border: 1px solid transparent;
  height: 50px;
  width: 150px;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  color:indigo;
  font-weight: 600;
  font-size: 18px;
  font-family: verdana;
  border-radius: 10px;
  transition: all 0.5s;
}
#btn-chek:active{
 scale: 1;
 background-image: linear-gradient(to left,#8BC6EC,#9599E2);

}
marquee{
  width:500px;
  position: relative;
  top: 300px;
  right: 20px;
  font-size: 40px;
  
}


.side-image{
  mix-blend-mode: multiply;
  
}
